.main_shadow {
    text-shadow: 0 0 10px rgba(253, 133, 90, 0.89);
}

body {
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    background: url('assets/img/point_pat.svg') repeat;
    background-size: 30px;
}

.bg_old_dark {
    background-color: oklch(22% 0.019 237.69 /1);
}

.content-wrap {
    padding-bottom: 186px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 186px;
}